/* Color Palette
Red #e63946
Off-White #f1faee
Light Blue #a8dadc 
Blue #457b9d
Navy Blue #1d3557
*/

/* Univeral styling */
*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Header container on each page */
.container{
    width: 100%;
    margin: 0 auto;
}
header{
   font-size: large;
   color: #1d3557;
   font-weight: bold;
   background-color: #a8dadc;
   width: 100%;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

/* Styling for all body elements on the web page. Flex column used to push the footer to the bottom of the page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Logo img inserted in Header of each page */
.logo{
    float: left;
    padding-bottom: 5px;
    max-height: 100px;
    max-width: 100px;
}
/* Positions the navigation menu correctly inside the header container */
nav{
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}
/* Remove the bullet points from the unorganised list */
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 0px;
    position: relative;
}
/* Styling for hyperlinks in nav bar */
nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}
/* Change colour of the bar animated bar when hover over a nav item */
nav a:hover{
    color: #000;
}
/* Styling for animated bar to appear */
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 35px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

footer{ /*general settings for footer used on all pages */
    width: 100%;
    padding: 10px 15%;
    background: #a8dadc;
    color: #1d3557;
    display: flex;
    margin-top: auto;
}

 footer div { /*all text elements in the footer to be centered */
    text-align: center;
}

.col-1 a { /* Settings for links in footer */
    display: block;
    text-decoration: none;
    color: #1d3557;
    margin-bottom: 10px;
}

.col-2 {  /*making the newsletter section larger than the two other columns in footer */
    flex-grow: 2;
}

form input { /*Input box for newsletter */
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button { /*Button for newsletter */
    background: transparent;
    border: 2px solid #1d3557;
    color: #1d3557;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer; /*Causes pointer/hand icon to appear when mouse is hovered over the button */
}

footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.social-icons {  /*positioning the social media icons on the footer */
    margin-top: 30px;
}
.social-icons i { /* changing size of icons */
    font-size: 22px;
    margin: 10px;
    cursor: pointer; /*pointer/hand icon to appear when mouse is hovered over the button */
}

/* Food menu text-overlay */
.food-menu-container {
    display: flex;
    width: 750px;
    height: 400px;
    overflow: hidden;
    border: 2px solid #a8dadc;
    align-items: center;
    justify-items: center;
    position: relative;
    text-align: center;
    color: white;
    margin: 0 auto;
}

.food-menu-container::before{
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(211, 211, 211, 0.4);
}
/* Food (Kai) and Drinks (Inu) text settings for Menu Page */
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 1;
    letter-spacing: 0.5em;   
}
/* Container to hold the drinks img & text overlay */
.drinks-menu-container {
    display: flex;
    width: 750px;
    height: 400px;
    overflow: hidden;
    border: 2px solid #a8dadc;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    color: white;
    margin: 0 auto;
}

.drinks-menu-container::before{
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(211, 211, 211, 0.4);
}
/* Reservations spacer blocks above and below the reservation form */
.block {
    position: relative;
    height: 10vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5px;
}

/* Reservation form styling */
.reservation-form {
    display: block;
    margin-top: 5vh;
}
/* Standard styling for p elements site-wide. Center text in the middle of page */
p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Standard styling for site-wide H1 Heading Elements */
h1 {
    display:flex;
    justify-content: center;
    align-items: center;
    color: #1d3557;
    margin-top: 5vh;
    margin-bottom: 2vh;
}
/* Opening Hours background img and text positioning */
.overlay__hours {
    --bg-image: url("images/kitchen__hours.jpg");
    --bg-image-opacity: .6;
    position: relative;
    isolation: isolate;
    display: grid;
    place-content: center;
    min-height: 500px;
    text-align: center;
    color: #1d3557;
    font-size: 2.5em;
    font-weight: bold;
}
/* Pseudo element to create an opaque background img for Opening Hours*/
.overlay__hours::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: var(--bg-image-opacity);
}
/* CONTACTS PAGE */

/* container for content in the body of page */
.contact__container {
    display: flex;
    justify-content:center;
    background-color: #f1faee;
}
/* Container for google maps and address text */
.address__contact {
    margin-left: -2em;
    margin-right: 5em;
}
/* Address above Google Maps embed */
.address__contact p {
    display: block; /*Override the display flex set for <p> elements*/
    font-size:large;
    text-align: left;
    color: #1d3557;
}
/* Adjust spacing for the Phone, email, and social media container */
.details__contact {
    line-height: 1.5;
}
/* Make paragraphs stack underneath one another by default */
.details__contact p {
    display: block;
}
/* Move the social media icons closer to 'Social Media' text */
.details__contact .social-icons {
    margin-top: 0;
}
/* Text in 'Our Story' */
.our__story {
    padding-left: 2%;
    padding-right: 2%;
}

/* HOME PAGE */

/* Settings for container holding the 3 images on Home page */
.main__images {
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

.main__images img{  
    height: 25em;
    padding: 5px; 
}
/* Media query to adjust imgs to column view when on a smaller screen */
@media only screen and (max-width: 800px) {
    .main__images{
        flex-direction: column;
    }
  }