/* Color Palette
Red #e63946
Off-White #f1faee
Light Blue #a8dadc 
Blue #457b9d
Navy Blue #1d3557
*/

*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: 0 auto;
}
header{
   font-size: large;
   color: #1d3557;
   font-weight: bold;
   background-color: #a8dadc;
   width: 100%;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    padding-bottom: 5px;
    max-height: 100px;
    max-width: 100px;
}

nav{
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 0px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 35px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background: #333;
    color: #efefef;
    display: flex;
}

footer div {
    text-align: center;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}

.col-2 {
    flex-grow: 2;
}

form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.social-icons {
    margin-top: 30px;
}
.social-icons i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}